@mixin buttons() {
  padding: 10px 1.2em;
  cursor: pointer;
  border: none;
  font-size: $font-size-base;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-family: $font-family-sans-2;

  &:hover {
    text-decoration: none;
  }
}

@mixin button($btncolor) {
  color: white;
  background: $btncolor;
  transition: background 0.2s ease;

  &:hover {
    background: darken($btncolor, 10%);
    color: white;
    transition: background 0.2s ease;
  }
}

%buttons {
  @include buttons;
}

.btn {
  @extend %buttons;
  min-width: 180px;
}

.btn-primary {
  @include button($pcolor);
}

.btn-secondary {
  @include button($quincolor);
  color: $pcolor;
}
