// _nav.scss

// mobile-push-menu
@include upto-breakpoint(l) {
  html, body {
    overflow-x: hidden;
  }
}

.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  span,
  span:before,
  span:after {
    background-color: white;
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    left: 0;
    top: 0;
  }

  span {
    margin: 0 auto;
    position: relative;
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;

    &:before {
      position: absolute;
      content: '';
      margin-top: -9px;
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }

    &:after {
      position: absolute;
      content: '';
      margin-top: 9px;
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
  }

  &.open {
    span {
      background-color: rgba(0,0,0,0.0);
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg); transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
      }
    }
  }
}

// mobile dropdwon
//@include upto-breakpoint(m) {
.mobile {
  .dropdown {
    background: $tcolor;

    .drop-title {
      display: block;
      border-bottom: $border-solid;
      border-color: $scolor;
      padding: $grid-gutter;
      font-family: $font-family-headings;
      cursor: pointer;

      .icon {
        float: right;
        color: $scolor;
        margin-top: 5px;
      }
    }

    ul {
      background: white;

      li {
        margin-right: $grid-gutter !important;
        margin-left: $grid-gutter !important;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 500ms ease;

        &:last-child {
          border-bottom: none;
        }

        &.heading {
          display: none;
        }
      }
    }

    &.open {
      ul {
        background: transparent;

        li {
          max-height: 60px;
          opacity: 1;
          transition: max-height 500ms ease, opacity 1s ease;
        }
      }
    }
  }
}
