// ==========================================================================
// Base – Mobile-First Grid
// ==========================================================================

// Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
.clear:before, .clear:after { content: " "; display: table; } .clear:after { clear: both; }
.row:before, .row:after { content: ""; display: table; } .row:after { clear: both; }

// Rows
.row {
  position: relative;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
}

// Container
.container {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;
}
.container-full {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.container, .container-full {
  width: $container;
  max-width: $container-max-width;
}

// Mobile-first Grid Columns - Global Rules
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5 {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  position: relative;
  float: left;
}

// Mobile-first Grid
$columns: 12;
@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i / $columns) * 100%;
  }
}
.col-1-2 { width: (6 / 12) * 100%; }
.col-1-3 { width: (4 / 12) * 100%; }
.col-2-3 { width: (8 / 12) * 100%; }
.col-1-4 { width: (3 / 12) * 100%; }
.col-3-4 { width: (9 / 12) * 100%; }
.col-1-5 { width: (2.4 / 12) * 100%; }
.col-2-5 { width: (4.8 / 12) * 100%; }
.col-3-5 { width: (7.2 / 12) * 100%; }
.col-4-5 { width: (9.6 / 12) * 100%; }
.col-full { width: 100%; }

// Medium Device Grid
@include breakpoint(s) {

  // Medium Device Grid Columns - Global Rules
  .col-1-s,
  .col-2-s,
  .col-3-s,
  .col-4-s,
  .col-5-s,
  .col-6-s,
  .col-7-s,
  .col-8-s,
  .col-9-s,
  .col-10-s,
  .col-11-s,
  .col-12-s,
  .col-1-2-s,
  .col-1-3-s,
  .col-2-3-s,
  .col-1-4-s,
  .col-3-4-s,
  .col-1-5-s,
  .col-2-5-s,
  .col-3-5-s,
  .col-4-5-s {
    padding-left: $grid-gutter-m;
    padding-right: $grid-gutter-m;
    position: relative;
    float: left;
  }

  // Medium Device Grid
  $columns: 12;
  @for $i from 1 through $columns {
    .col-#{$i}-s {
      width: ($i / $columns) * 100%;
    }
  }
}

// Medium Device Grid
@include breakpoint(m) {

  // Medium Device Grid Columns - Global Rules
  .col-1-m,
  .col-2-m,
  .col-3-m,
  .col-4-m,
  .col-5-m,
  .col-6-m,
  .col-7-m,
  .col-8-m,
  .col-9-m,
  .col-10-m,
  .col-11-m,
  .col-12-m,
  .col-1-2-m,
  .col-1-3-m,
  .col-2-3-m,
  .col-1-4-m,
  .col-3-4-m,
  .col-1-5-m,
  .col-2-5-m,
  .col-3-5-m,
  .col-4-5-m {
    padding-left: $grid-gutter-m;
    padding-right: $grid-gutter-m;
    position: relative;
    float: left;
  }

  // Medium Device Grid
  $columns: 12;
  @for $i from 1 through $columns {
    .col-#{$i}-m {
      width: ($i / $columns) * 100%;
    }
  }
  .col-1-2-m { width: (6 / 12) * 100%; }
  .col-1-3-m { width: (4 / 12) * 100%; }
  .col-2-3-m { width: (8 / 12) * 100%; }
  .col-1-4-m { width: (3 / 12) * 100%; }
  .col-3-4-m { width: (9 / 12) * 100%; }
  .col-1-5-m { width: (2.4 / 12) * 100%; }
  .col-2-5-m { width: (4.8 / 12) * 100%; }
  .col-3-5-m { width: (7.2 / 12) * 100%; }
  .col-4-5-m { width: (9.6 / 12) * 100%; }
  .col-full-m { width: 100%; }

}

// Large Device Grid
@include breakpoint(l) {

  // Large Device Grid Columns - Global Rules
  .col-1-l,
  .col-2-l,
  .col-3-l,
  .col-4-l,
  .col-5-l,
  .col-6-l,
  .col-7-l,
  .col-8-l,
  .col-9-l,
  .col-10-l,
  .col-11-l,
  .col-12-l,
  .col-1-2-l,
  .col-1-3-l,
  .col-2-3-l,
  .col-1-4-l,
  .col-3-4-l,
  .col-1-5-l,
  .col-2-5-l,
  .col-3-5-l,
  .col-4-5-l {
    padding-left: $grid-gutter-l;
    padding-right: $grid-gutter-l;
    position: relative;
    float: left;
  }

  // Large Device Grid
  $columns: 12;
  @for $i from 1 through $columns {
    .col-#{$i}-l {
      width: ($i / $columns) * 100%;
    }
  }
  .col-1-2-l { width: (6 / 12) * 100%; }
  .col-1-3-l { width: (4 / 12) * 100%; }
  .col-2-3-l { width: (8 / 12) * 100%; }
  .col-1-4-l { width: (3 / 12) * 100%; }
  .col-3-4-l { width: (9 / 12) * 100%; }
  .col-1-5-l { width: (2.4 / 12) * 100%; }
  .col-2-5-l { width: (4.8 / 12) * 100%; }
  .col-3-5-l { width: (7.2 / 12) * 100%; }
  .col-4-5-l { width: (9.6 / 12) * 100%; }
  .col-full-l { width: 100%; }

}

// Extra Large Device Grid
@include breakpoint(xl) {

  // Extra Large Device Grid Columns - Global Rules
  .col-1-xl,
  .col-2-xl,
  .col-3-xl,
  .col-4-xl,
  .col-5-xl,
  .col-6-xl,
  .col-7-xl,
  .col-8-xl,
  .col-9-xl,
  .col-10-xl,
  .col-11-xl,
  .col-12-xl,
  .col-1-2-xl,
  .col-1-3-xl,
  .col-2-3-xl,
  .col-1-4-xl,
  .col-3-4-xl,
  .col-1-5-xl,
  .col-2-5-xl,
  .col-3-5-xl,
  .col-4-5-xl {
    padding-left: $grid-gutter-xl;
    padding-right: $grid-gutter-xl;
    position: relative;
    float: left;
  }

  // Extra Large Device Grid
  $columns: 12;
  @for $i from 1 through $columns {
    .col-#{$i}-xl {
      width: ($i / $columns) * 100%;
    }
  }
  .col-1-2-xl { width: (6 / 12) * 100%; }
  .col-1-3-xl { width: (4 / 12) * 100%; }
  .col-2-3-xl { width: (8 / 12) * 100%; }
  .col-1-4-xl { width: (3 / 12) * 100%; }
  .col-3-4-xl { width: (9 / 12) * 100%; }
  .col-1-5-xl { width: (2.4 / 12) * 100%; }
  .col-2-5-xl { width: (4.8 / 12) * 100%; }
  .col-3-5-xl { width: (7.2 / 12) * 100%; }
  .col-4-5-xl { width: (9.6 / 12) * 100%; }
  .col-full-xl { width: 100%; }

}

// Clear Grids
$sizes: 2, 3, 4, 5, 6;

@each $size in $sizes {
  @include between-breakpoint($breakpoint-s, $breakpoint-m ) {
    .clear-#{$size}-sm {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include between-breakpoint($breakpoint-s, $breakpoint-l ) {
    .clear-#{$size}-sl {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include between-breakpoint($breakpoint-m, $breakpoint-xl ) {
    .clear-#{$size}-sxl {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include between-breakpoint($breakpoint-m, $breakpoint-l ) {
    .clear-#{$size}-ml {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include between-breakpoint($breakpoint-m, $breakpoint-xl ) {
    .clear-#{$size}-mxl {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include between-breakpoint($breakpoint-l, $breakpoint-xl ) {
    .clear-#{$size}-lxl {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include breakpoint(s) {
    .clear-#{$size}-s {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include breakpoint(m) {
    .clear-#{$size}-m {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include breakpoint(l) {
    .clear-#{$size}-l {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
  @include breakpoint(wide) {
    .clear-#{$size}-xl {
      [class*="col"]:nth-child(#{$size}n+1) {
        clear: both;
      }
    }
  }
}
